.container-fluid{
    font-family: 'Rubik Moonrocks';
}
.icon{
    position: relative;
}
.icon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 1.3px;
    height: 3px;
    width: 34px;
    background-color: #3399ff;
}