.container{
    font-family: 'poppins','inter';
    margin-top: 1.5rem;
}
h2,h3{
    word-spacing: 1px;
    line-height: 40px;
}
.icon {
    position: relative;
    margin-top: 1rem;
}
.icon > svg {
    width: 200px;
}

.icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 9.2rem;
    animation: slide 3s linear infinite;
    background-color: #fff;
}

@keyframes slide {
    0% {
        top: 0;
    }

    30% {
        top: 30%;
    }

    60% {
        top: 60%;
    }

    70% {
        top: 55%;
    }

    100% {
        top: 87%;
    }
}

.get-started{
    width: 65vw;
    height: 4rem;
    background: #3399ff;
    border: none !important;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-family: 'poppins','inter';
    font-size: 1.2rem;
}
input{
    height: 3.5rem;
    border: none;
    background-color: #3a4752;
    outline: none;
    padding: 0 0.8rem;
}
.input-wrapper{
    margin-bottom: 0.7rem;
}
.input-wrapper:last-child{
    margin-bottom: 0;
}
.modal-top{
    margin: 10px 18px 0 18px ;
    display: flex;
    justify-content: space-between;
}
h5{
    margin-left: -15px;
}
.text-danger{
    padding-left: 7px;
    animation: show 0.35s ease-in forwards;
    font-size: 14px;
}
@keyframes show {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
.close-icon{
    width: 17px;
    cursor: pointer;
    margin-right: -10px;
}
.sign-btn-wrapper{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.sign{
    margin: 0 auto;
    border: none;
    margin-bottom: 0.5rem;
    height: 3.5rem;
    background-color: #3399ff;
    font-size: 1.1rem;
    font-family: 'poppins','inter';
    transition: 0.4s all linear;
}
.sign:last-child{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #3a4752;
}
.sign:first-child:hover{
    background-color: #2790f8;
}
.sign:last-child:hover{
    background-color: #465d72;
}
.password-icon {
    width: 15px;
    position: absolute;
    right: 1.5rem;
    top: 2.85rem;
}

//when button disable option come
// button:disabled,
// button[disabled] {
//     border: 1px solid #999999;
//     background-color: #cccccc;
//     color: #666666;
// }
.sign-out{
    padding: 0.5rem 1rem;
    position: relative;
    background-color: #3a4752;
}
.sign-out::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: inherit;
    left: 50%;
    top: -9%;
    transform: rotate(45deg) translateX(-50%);
    // z-index: -1;
}
.sign-out:hover{
    background-color: #465d72;
}

.main-spinner-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.main-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #3399ff;
    border-radius: 50%;
    animation: main-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3399ff transparent transparent transparent;
}

.main-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.main-spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.main-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes main-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}